.d_btn {
    color: white;
    background-color: #28a4c9;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
}

.d_btn:hover {
    background-color: #1d7995;
    transition: 0.4s;
}

#edit {
    background-color: #ffbf00;
}

#del {
    background-color: #ff0000;
}